<% name = current_user.present? ? current_user.email : "" %>

<%= stylesheet_link_tag "cube_timer" %>
<!DOCTYPE html>
<html>
  <head>
    <title>Cube Timer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="width:300px; height:100px;
  position:absolute;left:30%; margin-left:-25%; margin-top: 0.2%"; >
    <h6 class="mail", id='eml'>Cuber email: <%= name %></h6>
  </div>
  <nav calss='navbar navbar-default', id="nav" >

    <div class="container">
      <ul class="nav navbar-nav">
        <li> <%= link_to "Sign up", new_user_registration_path, style:'color:#FFFFFF;' %> </li>

        <% if user_signed_in? %>
          <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete,style:'color:#FFFFFF;' %></li>
        <%else %>
          <li> <%= link_to "Log in", new_user_session_path,style:'color:#FFFFFF;'%> </li>
        <%end %>
      </ul>

    </div>

  </nav>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
